<div class="container">
    <div class="row col-lg-12 col-sm-12">
        <h4 class="mt-3 mb-3 mt-5">Marks List</h4>
        <table class="table table-striped mt-5">
            <thead class="bg-info text-light">
                <tr>
                    <th class="text-center">Student Id</th>
                    <th class="text-center">Student Name</th>
                    <th class="text-center">sub1</th>
                    <th class="text-center">sub2</th>
                    <th class="text-center">sub3</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let marks of marksList">
                    <td class="text-center">{{marks.marksPK.student_id}}</td>

                    <ng-container *ngFor="let Student of studentsList">
                        <td class="text-center" *ngIf="(Student.id == marks.marksPK.student_id)">{{Student.name}}</td>
                    </ng-container>

                    <td class="text-center">{{marks.sub1}}</td>
                    <td class="text-center">{{marks.sub2}}</td>
                    <td class="text-center">{{marks.sub3}}</td>
                    <td class="text-center">
                        <button class="btn btn-secondary" style="margin: 5px" (click)="changeMarks(marks.marksPK.student_id)">Edit</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>