<div class="container">

    <div class="row">
        <div class="col-lg-9 col-sm-12 mt-5">
            <input type="text" placeholder="enter Student id" class="form-control" name="studentId" [(ngModel)]="studentId">
        </div>
        <div class="col-lg-3 col-sm-12 mt-5">
            <button type="button" class="btn btn-info" (click)="searchStudent()">Search</button>
        </div>
    </div>
    <h2 class="mt-5 " *ngIf="showStudentTable">Results</h2>
    <div *ngIf="showStudentTable" class="row col-lg-12 col-sm-12">
        <table class="table">

            <thead class="bg-info text-light">
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Email</th>
                    <th>Mobile</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.dob}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.mobile}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>